

        <div id="topbar">
        
            <img id="logo" src="images/logo.jpg">
            
            <div id="signin-div" class="topbar-section">
            
               <img id="signin-image" src="/images/signin.jpg">
                
                <span id="signin-text">Sign in</span>
            
            </div>
            
            <div class="topbar-section topbar-menu">
            
               Rock Climbing
            
            </div>
            
            <div class="topbar-section topbar-menu">
            
                Ice Climbing
            
            </div>
            
            <div class="topbar-section topbar-menu">
            
                Mountaineering
            
            </div>
            
            <div class="topbar-section topbar-menu">
            
                <%= link_to "Offroading", pages_jeeps_path %>
            
            </div>
            
            <div class="topbar-section topbar-menu">
            
                More
                
                <img id="more-arrow" src="images/down-arrow.png">
            
            </div>
            
            <div class="topbar-section">
            
                <input id="search-box" type="text" value="Search">
                
                <input type="image" id="magnifying-glass" src="images/orb-search-dark.png">
            
            </div>
        
        </div>
        
        <div class="clear"></div>
        
        <div id="menu-bar-container">
            
            <div id="menu-bar">
            
                <h1>Steve Adamson</h1>
                
                <div id="local-news">
                
                    <a href="">Find local news</a>
                                    
                </div>
                
            </div>
            
            <div class="clear"></div>
            
            <div id="menu-bar-2-container">
            
                <div id="menu-bar-2">
                
                    <a href="">Home</a>
                    
                    <%= link_to "Jeeps", "#", id: "jeeps-link" %>
                    
                    <a href="">HD</a>
                    
                     <a href="">Guns</a>
                    
                     <a href="">Taoism</a>
                    
                     <a href="">Kayak</a>
                    
                     <a href="">Bike</a>
                    
                     <a href="">Paragliding</a>
                    
                     <a href="">Orienteering</a>
                
                     <a href="">Adventure Racing</a>
                    
                     <a href="">Climbing</a>
                    
                     <a href="" class="no-border">More</a>
                    
                    <img id="down-arrow" src="images/down-arrow.png">
                
                </div>
            
            </div>
        
        </div>
        
        <div class="clear"></div>
        
        <div id="page-container">
        
            <div id="main-article">
        
                <h2>Kayaking</h2>
                
                <div id="article-container">
        
                    <h3><a href="">Kayaking the Kennebecasis</a></h3>

                    <div id="article-summary">

                        <p>Early season kayak by Kris and PJ.</p>

                        <p><span class="date">May 2016</span><a class="topic-link" href="">Kayaking</a></p>
                        
                        <hr id="article-hr"  align="left">
                        
                        <p><a class="article-link" href="">High water and no ice leads to good kayaking conditions</a></p>
                        <p><a class="article-link" href="">Double kayak provides great stability</a></p>

                    </div>
                    
                    <img id="main-article-image" src="images/IMG_0269.JPG">
    
                </div>
                <div id="jeeps-section">
                    <h1>Offroading</h1>
                    <h2>Welcome to my Jeep area</h2>
                </div>
            </div>

            

            
            <div id="watch-listen">
            
                <h4>Watch/Listen</h4>
                
                <img class="article-side-image" src="images/Baruntse-079.jpg">
                
                <div class="side-article">
                
                    <p><a class="watch-listen-link" href="">Don heads for Baruntse</a></p>

                    <p><img class="clock" > <span class="date">September 2002</span></p>
                    
                </div>
                
                <div class="clear"></div>
                
                <img class="article-side-image" src="images/Baruntse-323a.jpg">
                
                <div class="side-article">
                
                    <p><a class="watch-listen-link" href="">Prayer Flags</a></p>

                    <p><img class="clock"> <span class="date border-right">September 2002</span><br><a class="topic-link no-border" href="">Baruntse</a></p>
                    
                </div>
                
                <div class="clear"></div>
                
                <img class="article-side-image" src="images/Baruntse-466.jpg">
                
                <div class="side-article">
                
                    <p><a class="watch-listen-link" href="">Elephant Riding</a></p>

                    <p><img class="clock"> <span class="date border-right">October 2002</span><br><a class="topic-link no-border" href="">Jungles</a></p>
                    
                </div>
                <div >
            
                
            
                </div> 
            </div>
          </div>
